<%- partial('_partial/header', {
    title: page.title,
    hdClass: 'page-header'
}) %>
<div class="container body-wrap">
    <article class="page-article" itemprop="blogPage">
        <div class="post-content page-content" id="page-content" itemprop="pageContent">
            <%- page.content.replace(/<p>}<\/p>/g, '</div>')
                .replace(/<p>@([\w-]+){<\/p>/g, function(match, $1){
                return '<div class="'+ $1 +'">'
            }) %>
        </div>
    </article>
</div>
