<% if (theme.visit_counter) { %>
<p>
    <span><%-config.author %> &copy; <%if (theme.since_year && theme.since_year < date(new Date(), 'YYYY')) {%><%- theme.since_year %> - <%}%><%- date(new Date(), 'YYYY') %></span>
    <span class="post-count">Total words: <%= totalcount(site) %></span>
</p>
<% } %>
