<script>
var BLOG = {};
</script>

<script src="<%- url_for('/js/main.js') %>"></script>
<% if (theme.search){ %>
<div class="search-panel" id="search-panel">
    <ul class="search-result" id="search-result"></ul>
</div>
<script src="<%- url_for('/js/search.js') %>" async></script>
<% } %>

<%- partial('plugins/mathjax') %>
