<div class="tabs-bar container">
    <nav class="tags-list">
        <a href="<%= url_for('/' + type) %>" style="-webkit-order:-1;order:-1" class="tags-list-item<% if (path === type + '/index.html') { %> active<%}%>"><%= __('tag.all') %></a>
        <%
            var options = [];

            (type === 'tags' ? site.tags : site.categories).each(function(o) {
                if(o.posts.length) {
                    options.push(o)
                }
            })

            options.sort((a, b) => a.name.localeCompare(b.name, undefined, { sensitivity: 'base' }));

            options.forEach(function(tag, i) { %>
            <a href="<%- url_for(tag.path) %>" class="tags-list-item<% if(is_current(tag.path)){%> active<%}%>"><%- tag.name %></a>
        <% }) %>
    </nav>
</div>
